<!DOCTYPE html>
<html>
<style>
    body {
        font-family: Arial;
        font-size: 17px;
        padding: 8px;
        background-color: aliceblue;
    }

    #menu ul {
        list-style-type: none;
        background: rgb(140, 174, 236);
        text-align: center;
        margin: 0;
    }

        #menu ul li {
            color: #f1f1f1;
            display: inline-table;
            width: 120px;
            height: 40px;
            line-height: 40px;
        }

            #menu ul li a {
                color: #f1f1f1;
                text-decoration: none;
                display: block;
            }

                #menu ul li a:hover {
                    background: #f1f1f1;
                    color: #333;
                }
</style>
<body>
    <div id="menu">
        <ul>
            <li><a href="/Home">Trang Chủ</a></li>
        </ul>
    </div>
</body>
</html>