<!DOCTYPE html>
<html>
<style>
    .card {
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #00BFFF;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin-left: 20px;
    }

    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .card-title {
        margin-bottom: .75rem;
    }

    .card-deck {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,50%);
        display: flex;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        padding: 10px;
    }

    body {
        background-image: url("https://images.wallpaperscraft.com/image/sea_waves_blur_114098_1600x900.jpg");
    }
</style>
<body>
    <div class="card-deck" style="text-align: center;">
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://ducvinhtravel.pro.vn/wp-content/uploads/2019/03/dia-diem-chup-anh-da-ngoai-o-ha-noi-1.jpg" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color: #fff; ">Cẩm Nang Du Lịch</h2>
                <h4>Hà Nội</h4>
                <p class="card-text">
                    Tìm hiểu địa danh, mẹo du lịch, các địa điểm vui chơi giải trí....
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://mytourcdn.com/upload_images/Image/Location/21_7_2015/cac-loai-hinh-du-lich-da-nang-mytour-1.jpg" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#fff ">Cẩm Nang Du Lịch</h2>
                <h4>Đà Nẵng</h4>
                <p class="card-text">
                    Tìm hiểu địa danh, mẹo du lịch, các địa điểm vui chơi giải trí....
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Xem Thêm</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="http://hanoimoi.com.vn/Uploads/images/tuandiep/2020/08/05/Thanh-Pho-Ho-Chi-Minh-Quyet.jpg" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#fff ">Cẩm Nang Du Lịch</h2>
                <h4>Hồ Chí Minh</h4>
                <p class="card-text">
                    Tìm hiểu địa danh, mẹo du lịch, các địa điểm vui chơi giải trí....
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Xem Thêm</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://statics.vntrip.vn/data-v2/data-guide/img_content/1470302452_anh-5.jpg" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#fff ">Cẩm Nang Du Lịch</h2>
                <h4>Phú Quốc</h4>
                <p class="card-text">
                    Tìm hiểu địa danh, mẹo du lịch, các địa điểm vui chơi giải trí....
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Xem Thêm</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://cungphuot.info/wp-content/uploads/2015/04/kinh-nghiem-du-lic-nha-trang-1.jpg" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#fff ">Cẩm Nang Du Lịch</h2>
                <h4>Nha Trang</h4>
                <p class="card-text">
                    Tìm hiểu địa danh, mẹo du lịch, các địa điểm vui chơi giải trí....
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Xem Thêm</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://media.truyenhinhdulich.vn/upload/news/6086_hue_thanh_pho_cua_nhung_sac_hoa_12015327052019.jpg" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#fff ">Cẩm Nang Du Lịch</h2>
                <h4>Huế</h4>
                <p class="card-text">
                    Tìm hiểu địa danh, mẹo du lịch, các địa điểm vui chơi giải trí....
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Xem Thêm</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>