<!DOCTYPE html>
<html>
<style>
    .card {
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin-left: 20px;
    }

    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .card-title {
        margin-bottom: .75rem;
    }

    .card-deck {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,50%);
        display: flex;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 5px;
        padding: 10px;
    }

    body {
        background-image: url("https://images.wallpaperscraft.com/image/plane_sky_clouds_70175_1600x900.jpg");
    }
</style>
<body>
    <div class="card-deck" style="text-align: center;">
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://png.pngtree.com/element_origin_min_pic/17/03/16/d5778835c5f9f7d27d0ee74dd4ee5a39.jpg" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#DC143C ">Khuyến Mãi</h2>
                <h4>Kỷ niệm 10 năm thành lập công ty</h4>
                <p class="card-text">
                    Giảm giá 5% cho tất cả các chuyến bay cùng ngày
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Chi Tiết</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/26/05/05/discount-2540494_960_720.png" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#DC143C ">Khuyến Mãi</h2>
                <h4>Lễ Quốc Khánh</h4>
                <p class="card-text">
                    Giảm giá 10% cho tất cả các chuyến bay cùng ngày
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Chi Tiết</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXQ9E8j-wnBrdchOd3OW3XjbnlgRhoOLyxYA&usqp=CAUs" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#DC143C ">Khuyến Mãi</h2>
                <h4>Ưu đãi số lượng</h4>
                <p class="card-text">
                    Giảm lên đến 15% cho những khách hàng đặt số lượng trên 15 vé
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Chi Tiết</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXQ9E8j-wnBrdchOd3OW3XjbnlgRhoOLyxYA&usqp=CAUs" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#DC143C ">Khuyến Mãi</h2>
                <h4>Ưu đãi số lượng</h4>
                <p class="card-text">
                    Giảm lên đến 15% cho những khách hàng đặt số lượng trên 15 vé
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Chi Tiết</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXQ9E8j-wnBrdchOd3OW3XjbnlgRhoOLyxYA&usqp=CAUs" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#DC143C ">Khuyến Mãi</h2>
                <h4>Ưu đãi số lượng</h4>
                <p class="card-text">
                    Giảm lên đến 15% cho những khách hàng đặt số lượng trên 15 vé
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Chi Tiết</a>
                </div>
            </div>
        </div>

        <div class="card" style="width: 320px">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXQ9E8j-wnBrdchOd3OW3XjbnlgRhoOLyxYA&usqp=CAUs" height="150px" alt>
            <div class="card-body">
                <h2 class="card-title" style="color:#DC143C ">Khuyến Mãi</h2>
                <h4>Ưu đãi số lượng</h4>
                <p class="card-text">
                    Giảm lên đến 15% cho những khách hàng đặt số lượng trên 15 vé
                </p>
                <div style="text-align:center">
                    <a href="#" class="btn-primary" style="text-decoration: none">Chi Tiết</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>