@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Lỗi truy cập";
}

<title>Lỗi truy cập</title>
<header>
    <h1 class="text-danger">Không Truy Cập Được</h1>
    <p class="text-danger">Bạn không đủ quyền để truy cập vào trang này !!</p>
</header>
